<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Minesweeper - Login</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <footer id="footer">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </footer>
    <div id="scripts">
        <script src="http://localhost:8080/webpack-dev-server.js"></script>
        <script type="text/javascript" src="/shared.js"></script>
        <script type="text/javascript" src="/login.js"></script>
        <script type="text/javascript">
            localStorage.clear();
        </script>
    </div>
</body>
</html>