<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Minesweeper - Logging out..</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <link id="shortcut-icon" rel="shortcut icon" type="image/x-icon" href="">
</head>
<body>
    <div id="scripts">
        <script type="text/javascript">
            localStorage.clear();
            window.location.replace('/');
        </script>
    </div>
</body>
</html>