#game {
    position: relative;
    user-select: none;

    #stage {
        #items {
            margin: 0;
        }

        .item {
            border: 1px solid #000;
            background: #CCC;
            vertical-align: middle;
            text-align: center;

            &.hidden {
                &:hover {
                    background: #999;
                    cursor: pointer;
                }
            }

            i {
                margin: 0;
            }

            &.flag {

            }

            &.revealed {
                background: #FFF;

                &.bombs-1 {
                    color: blue;
                }

                &.bombs-2,
                &.bombs-3 {
                    color: green;
                }

                &.bombs-4,
                &.bombs-5 {
                    color: yellow;
                }

                &.bombs-6,
                &.bombs-7 {
                    color: orange;
                }

                &.bombs-8 {
                    color: red;
                }

                &.bomb {
                    background: red;
                }
            }
        }
    }
}